@charset "UTF-8";

@media screen and (min-width: 750px) {
    main {
        width: 91vw;
        height: 300px;
    }

    .hero-image {
        float: right;
        display: block;
        width: 50%;
        height: 100%;
        border-radius: 0px 7px 7px 0px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .conteiner {
        float: left;
        width: 50%;
        padding: 40px 40px 0px 40px;
    }

    .hero-text {
        font-size: .7em;
        text-align: left;
    }

    .hero-text > h1 {
        font-weight: 900;
    }

    .hero-text > p {
        font-size: .9em;
        text-align: left;
        text-indent: 0;
        margin: 20px 30px 15px 0px ;
    }

    .conteudo {
        text-align: left;
        
    }

    .dados {
        display: inline-block;
        text-align: left;
        margin: 18px 30px 0px 0px;

    }
}

@media screen and (min-width: 900px) {

    main {
        width: 85vw;
        height: 393px;
    }

    .hero-image {
        float: right;
        display: block;
        width: 50%;
        height: 100%;
        border-radius: 0px 7px 7px 0px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .conteiner {
        float: left;
        width: 50%;
        padding: 45px;
    }

    .hero-text {
        font-size: .8em;
        text-align: left;
    }

    .hero-text > h1 {
        font-weight: 900;
        font-size: 2em;
    }

    .hero-text > p {
        font-size: .9em;
        text-align: left;
        text-indent: 0;
        margin: 20px 23px 15px 0px ;
    }

    .conteudo {
        text-align: left;
        
    }

    .dados {
        display: inline-block;
        text-align: left;
        margin: 40px 38px 0px 0px ;

    }
}

@media screen and (min-width: 1020px) {
    main {
        width: 87vw;
        height: 400px;
    }

    .hero-text > p {
        margin: 20px 65px 15px 0px;
    }

    .dados {
        margin: 40px 51px 0px 0px;
    }
}

@media screen and (min-width: 1300px) {
    main {
        width: 1125px;
        height: 400px;
    }

    .hero-text > h1 {
        font-size: 2.3em;
    }

    .hero-text > p {
        margin: 20px 100px 15px 0px;
        font-size: 1.1em;
    }

    .conteiner {
        padding: 58px;
    }

    .dados {
        margin: 40px 70px 0px 0px;
        font-size: 1.2em;
    }
}