@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');



:root {
    /* Primaria */
    --Very-dark-blue: hsl(233, 47%, 7%);  /*(main background)*/
    --Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background) */
    --Soft-violet: hsl(277, 64%, 61%); /*(accent) */

    /* Neutra */
    --White: hsl(0, 0%, 100%); /*(main heading, stats)*/
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/

    /* Fonts */
    --font-text: 'Inter', sans-serif;
    --font-title: 'Lexend Deca', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Conf corpo */

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

main {
    width: 271px;
    height: 559px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--Dark-desaturated-blue);
    color: white;
    border-radius: 7px;
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

/* Conf img */

img, picture {
    max-width: 100%;
    display: block;
    line-height: 0;
}

.hero-image {
    background: linear-gradient(320deg, #ff61f3 0, #b86ffb 100%);
    border-radius: 7px 7px 0px 0px ;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: .8;
}

.conteiner {
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.hero-text {
    font-family: var(--font-text);
    font-size: .7em;
    text-align: center;
}

.hero-text > h1 > span {
    color: var(--Soft-violet);
}

.hero-text > h1 {
    margin-bottom: 4px;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 500;
}

.hero-text > p {
    color: var(--Slightly-transparent-white);
    font-size: 1em;
    text-align: center;
    line-height: 1.8em;
    text-indent: 8px;
}

.conteudo {
    font-family: var(--font-text);
    font-size: .8em;
    margin-top: 7px;
    line-height: 1.8em;
}

.all-caps {
    color: var(--Slightly-transparent-white);
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 300;
}

@media screen and (min-width: 330px) {
    main {
        width: 292px;
        height: 611px;
    }

    .conteiner {
        padding: 24px 35px 15px 35px;
    }

    .hero-text > h1 {
        font-size: 2em;
        padding-bottom: 4px;
    }

    .hero-text > p {
        font-size: 1.1em;
    }

    .conteudo {
        margin-top: 20px;
    }
}
 @media screen and (min-width: 335px) {
   main {
    width: 322px;
    height: 654px;
   }

   .conteiner {
    padding: 24px 40px 15px 40px;
   }

   .hero-text {
    margin-top: 10px;
   }

   .conteudo {
    margin-top: 27px;
   }
}
